<section class="services">
  <h2 class="visually-hidden">Список онлайн серивисов расписания поездов</h2>
  <div class="services__container container">
    <ul class="services__list">
      <li class="services__item">
        <div class="card-services">

          <img src="./assets/img/item_01.svg" alt="yandex логотип">
          <p class="card-services__description">Сервис работающий с 2003 года. Помогает организовать комфортную поездку
            не выходя из дома.</p>
          <span class="card-services__rating">5.0</span>
          <a href="https://rasp.yandex.ru" class="card-serivces__link" target="_blank">rasp.yandex.ru</a>
        </div>
      </li>
      <li class="services__item">
        <div class="card-services">
          <img src="./assets/img/item_02.svg" alt="россия логотип">
          <p class="card-services__description">Точное расписание авиарейсов, поиск и бронирование билетов. Быстрая и
            комфортная онлайн регистрация.</p>
          <span class="card-services__rating">5.0</span>
          <a href="https://www.rossiya-airlines.com/onlineboard/onlineboard/departures_board/"
            class="card-serivces__link" target="_blank">rossiya-airlines.com/onlineboard</a>

        </div>
      </li>
      <li class="services__item">
        <div class="card-services">
          <img src="./assets/img/item_03.svg" alt="аэрофлот логотип">
          <p class="card-services__description">Даты выполнения, время отправления и прибытия всех рейсов. Так же, прямо
            здесь вы сможете забронировать перелет</p>
          <span class="card-services__rating">4.9</span>
          <a href="https://flights.aeroflot.ru/ru-ru/schedule" class="card-serivces__link"
            target="_blank">flights.aeroflot.ru/ru-ru/schedule</a>
        </div>
      </li>
      <li class="services__item">
        <div class="card-services">
          <img class="card-services__logo" src="./assets/img/item_04.svg" alt="пулково логотип">
          <p class="card-services__description">Вы можете легко узнать время вылета и прибытия рейса по выбранному
            направлению на нужную дату.</p>
          <span class="card-services__rating">4.8</span>
          <a href="https://pulkovoairport.ru/passengers/" class="card-serivces__link"
            target="_blank">pulkovoairport.ru/passengers</a>
        </div>
      </li>
      <li class="services__item">
        <div class="card-services">
          <img src="./assets/img/item_05.svg" alt="тревел.ру логотип">
          <p class="card-services__description">Расписание авиарейсов. Онлайн табло популярных аэропортов Москвы. Поиск
            билетов по расписанию</p>
          <span class="card-services__rating">4.6</span>
          <a href="https://avia.travel.ru/timetable" class="card-serivces__link"
            target="_blank">https://avia.travel.ru/timetable</a>
        </div>
      </li>
      <li class="services__item">
        <div class="card-services">
          <img src="./assets/img/item_06.svg" alt="на самолете  логотип">
          <p class="card-services__description">Предоставляет возможность знакомиться с расписанием самолетов по
            определенному авиарейсу, направлению или аэропорту</p>
          <span class="card-services__rating">4.4</span>
          <a href="https://nasamolete.net/" class="card-serivces__link" target="_blank">nasamolete.net</a>
        </div>
      </li>
    </ul>
  </div>
</section>