{% set airlines = [
  {
    'img': './assets/img/airlines/item_01.svg'
  }, {
    'img': './assets/img/airlines/item_02.svg'
  }, {
    'img': './assets/img/airlines/item_03.svg'
  }, {
    'img': './assets/img/airlines/item_04.svg'
  }, {
    'img': './assets/img/airlines/item_05.svg'
  }, {
    'img': './assets/img/airlines/item_06.svg'
  }, {
    'img': './assets/img/airlines/item_07.svg'
  }, {
    'img': './assets/img/airlines/item_08.svg'
  }
] %}