{% from 'common/njk/head.njk' import head %}
{% from 'common/njk/scripts.njk' import scripts %}

<!DOCTYPE html>
<html lang="ru">

  {{ head('index', 'Авиатабло') }}

  <body>
    <div class="wrapper">
      {% include 'components/header/header.njk' %}
      <main class="main">
        {% include 'components/hero/hero.njk' %}
        {% include 'components/advantages/advantages.njk' %}
        {% include 'components/airlines/airlines.njk' %}
        {% include 'components/services/services.njk' %}
      </main>
      {% include 'components/footer/footer.njk' %}
      {{ scripts('index') }}
    </div>
  </body>

</html>