{% from 'common/njk/head.njk' import head %}
{% from 'common/njk/scripts.njk' import scripts %}

<!DOCTYPE html>
<html lang="ru">

  {{ head('index', 'Мой курьер') }}

  <body>
    {% include 'components/header/header.njk' %}
    <main class="main">
      {% include 'components/hero/hero.njk' %}
      {% include 'components/advantages/advantages.njk' %}
    </main>
    {{ scripts('index') }}
  </body>

</html>