.hero {
  margin-top: -1px;
  padding: 55px 0 30px;
  background: $bg-secondary url(../img/bg-mobile.png) 100% 0 no-repeat;
  @include media(S) {
    padding: 30px 0;
  }
  @include media(L) {
    padding: 60px 0;
  }
  @include media(XL) {
    min-height: 405px;
    background:
      url(../img/bg-desktop.png) 0 0 no-repeat,
      url(../img/bg.png) 0 -75px no-repeat;
  }
  .hero__content {
    @include media(S) {
      max-width: 250px;
      margin-left: auto;
    }
    @include media(M) {
      max-width: 350px;
    }
    @include media(L) {
      max-width: 450px;
    }
    @include media(XL) {
      max-width: 550px;
    }
  }
  h1 {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    color: $color-black;
    @include media(M) {
      font-size: 32px;
      line-height: 36px;
    }
    @include media(XL) {
      margin-bottom: 25px;
      font-size: 56px;
      font-weight: 800;
      line-height: 65px;
    }
  }
  p {
    font-size: 12px;
    line-height: 16px;
    @include media(M) {
      font-size: 18px;
      line-height: 24px;
    }
    @include media(XL) {
      font-size: 20px;
      font-weight: 500;
      line-height: 34px;
    }
  }
}

.hero__container {
  padding: 0 20px;
  @include media(S) {
    position: relative;
  }
  @include media(XL) {
    margin-top: -60px;
  }
}

.hero__img {
  position: absolute;
  top: 25px;
  right: 20px;
  display: block;
  max-width: 160px;
  @include media(S) {
    top: -25px;
    left: 0;
    max-width: 250px;
  }
  @include media(M) {
    top: -25px;
    left: 0;
    max-width: 350px;
  }
  @include media(L) {
    top: -50px;
    max-width: 470px;
  }
  @include media(XL) {
    top: 50px;
    left: 50px;
    max-width: 415px;
  }
}
