<section class="hero">
    <div class="hero__container container">
        <div class="hero__content">
            <h1>Онлайн-сервисы<br>расписания авиарейсов</h1>
            <p>Рейтинг сайтов для поиска авиарейсов</p>
        </div>
        <img class="hero__img" src="./assets/img/hero.png" alt="Боинг 747">
    </div>
</section>