.advantages {
  margin-top: -10px;
  padding-bottom: 16px;
  @include media(M) {
    margin-bottom: 30px;
  }
}

.advantages__container {
  @include media(XL) {
    padding: 0 50px;
  }
}

.advantages__list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 5px 20px;
  padding: 20px 10px;
  border-radius: 6px;
  font-size: 9px;
  line-height: 12px;
  background-color: $bg-primary;
  box-shadow: 0px 6px 10px 12px #c4d9e136;
  @include media(S) {
    gap: 5px 40px;
  }

  @include media(M) {
    max-width: none;
    padding: 15px 30px;
    font-size: 18px;
    line-height: 28px;
    column-gap: 20px;
  }
  @include media(XL) {
    justify-content: space-between;
    padding: 10px 45px 14px;
    column-gap: 100px;
  }
  .list-item {
    display: flex;
    align-items: center;
    .list-item__img-wrapper {
      max-width: 22px;
      height: 22px;
      margin-right: 5px;
      @include media(M) {
        max-width: 46px;
        height: 46px;
      }
      @include media(XL) {
        max-width: 60px;
        height: 60px;
      }
    }
    h3 {
      font-weight: 700;
    }
  }
}
