{% set advantages = [
  {
    'img': './assets/img/icon_01.svg',
    'title': 'Проверенные сервисы'
  }, {
    'img': './assets/img/icon_02.svg',
    'title': 'Точное расписание'
  }, {
    'img': './assets/img/icon_03.svg',
    'title': 'Все доступные направления'
  }
] %}