.logo {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  font-size: 7px;
  line-height: 5px;
  @include media(S) {
    font-size: 11px;
    line-height: 10px;
  }
  span {
    font-size: 13px;
    font-weight: 700;
    line-height: 10px;
    color: $color-text-thirdly;
    @include media(S) {
      font-size: 20px;
      line-height: 17px;
    }
  }
  img {
    width: 24px;
    margin-right: 2px;
    @include media(S) {
      width: 40px;
      margin-right: 10px;
    }
  }
}
