.header {
  position: relative;
  width: 100%;
  background-color: $bg-secondary;
  padding: 8px 0 0;
  @include media(XL) {
    padding: 35px;
  }
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
